* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    line-height: 1.6rem;

    @media (width > 700px) {
        background-color: hsl(30, 54%, 90%);
    }
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;

    @media (width > 700px) {
        width: 50%;
        margin: 7.5% auto; 
        border-radius: 1rem;
        background-color: #ffffff;
    }
}

img {
    inline-size: 100%;

    @media (width > 700px) {
        inline-size: 90%;
        display: block;
        margin: 5% auto 0%;
        border-radius: 0.8rem;
    }
}

main {
    margin: 0 7.5% 0 7.5%;

    @media (width > 700px) {
        margin: 0 5% 0 5%;
    }
}

h1 {
    font-size: 2.3rem;
    margin-top: 2.5rem;
    margin-bottom: 0rem;
    font-family: 'Young Serif';
    line-height: 2.3rem;
}

p { 
    margin-top: 1.4rem;
    margin-bottom: 0;
    font-size: 1.025rem;
}

#prep_container {
    background-color: hsl(330, 100%, 98%);
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    margin-top: 1.9rem;
    border-radius: 0.6rem;
}

h2 {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 1rem;
    color: hsl(332, 51%, 32%);
}

.prep_marker::marker {
    color: hsl(332, 51%, 32%);
    font-size: 0.8rem;
}

ul { 
    padding-left: 2.45rem;
}

li {
    padding-left: 1.05rem;
    margin-right: 2rem;
}

h3 {
    font-size: 1.6rem;
    font-family: 'Young Serif';
    margin-top: 2rem;
    color:hsl(14, 45%, 36%);
}

#ingredients_list {
    padding-left: 1.35rem;
    margin-bottom: 2rem;
}

.ingredients_marker::marker {
    color:hsl(14, 45%, 36%);
    font-size: 0.8rem;
    padding-left: 0.03rem;
}

hr {
    color:hsl(30, 18%, 87%);
    margin: 1.5rem 0;
}

p, li, td, ul, ol{
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 1.01rem;
    color: hsl(30, 10%, 34%);
}

strong {
    color: hsl(24, 5%, 18%);
}

ol {
    padding-left: 1.35rem;
    margin-bottom: 2.2rem;
}

ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

table {
    border-collapse: collapse;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
}

td {
    padding-left: 1.8rem;
    line-height: 2.5rem;
}

td strong {
    margin-left: 0;
    color: hsl(14, 45%, 36%);
}

tr {
    border-bottom: 0.01rem solid hsl(30, 18%, 87%);
}

#final_row {
    border-bottom: 0;
}

/* font faces */

@font-face {
    font-display: swap;
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/young-serif-v2-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap; 
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/outfit-v11-latin-regular.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/outfit-v11-latin-600.woff2') format('woff2'); 
}

@font-face {
    font-display: swap; 
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/outfit-v11-latin-700.woff2') format('woff2'); 
}

/* fonts faces end */